{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title%}Home{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
    <header>
        <nav>
            <p><a href="{% url 'home' %}">RECIPIE MANAGEMENT</a></p>
        </nav>
    </header>
    {% block content %}
    <div class="home_container">
        <h1>Welcome To the Recipie Management System</h1>
        <img id="logo" src="{% static 'images/recipie_logo.jpeg' %}" alt="">
        <div class="btn">
            <button class="add"><a href="{% url 'addRecipie' %}">Add Recipies</a></button> 
            <button class="view"><a href="{% url 'recipieView' %}">Recipies</a></button>
        </div>
    </div>
    {% endblock %}
</body>
</html>