{% extends 'home.html' %}

{% block title %} Recipie View {% endblock %}

{% block content %}
<div class="card-container">
    {% for recipie in recipies %}
        <div class="card">
            <img src="{{ recipie.recipie_image.url }}" alt="{{ recipie.recipie_name }}">
            <h3><a href="{% url 'recipie_description' recipie.id %}">{{ recipie.recipie_name }}</a></h3>
            <div class="view-btn">
                <button><a href="{% url 'update_recipie' recipie.id %}">Edit</a></button>
                <button><a href="{% url 'delete_recipie' recipie.id %}">Delete</a></button>
            </div>
        </div>
    {% endfor %}
</div>


{% endblock %}