{% extends 'home.html' %}

{% block title %}Add Recipie{% endblock %}

{% block content %}
<form method="post" enctype="multipart/form-data" class = 'add-recipie-form'>
    {% csrf_token %}
    <h1>Add Recipie</h1>

        <input type="text" name = 'recipie_name' value="{{recipie.recipie_name}}">
        
        
        <textarea name="recipie_ingrediants" id="ingrediants">{{recipie.recipie_ingrediants}}</textarea>
        
        
        
        <textarea name="recipie_description" id="description" placeholder="Add Description">{{recipie.recipie_description}}</textarea>
        

        <label for="image">Select Image</label>
        <input type="file" name="recipie_image">

        <button type="submit">Update</button>
    </form>
{% endblock %}